<h2 style="font-weight: bold; font-size: 1.2em">Hello <%= name %>,</h2>
<p style="font-size: 1em">
  Your OTP code is: <strong style="font-size: 1.5em"><%= otp %></strong>
</p>
<p style="font-size: 1em">
  This code is valid for 2 minutes. If you don't receive it, please check your
  spam folder.
</p>
<p style="font-size: 1em">Thank you for using our service.</p>
